
.App {
 text-align: center;
 
 text-transform: full-width;
 text-shadow: 2px 2px gold;
 font-size: 56px;
 font-variant: small-caps;



}



.App-header {
 background-image: url( (Not automatically expanded because 9MB is too large. You can expand it anyway or open it in a new window. You can also change your preferences to allow images of any file size to auto expand.) );
 background-size: cover;
 height: 350px;
 padding: 20px;
 color: black;




}


.App-intro {
 font-size: 32px;
 font-family: cursive;
 color: white;
}
